root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.java]
indent_size = 4
indent_style = space
tab_width = 4
max_line_length = 120
trim_trailing_whitespace = true
ij_java_blank_lines_after_class_header = 1
ij_java_blank_lines_before_class_end = 1
